*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f7fb;
color:#222;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#0f172a;
color:white;
position:sticky;
top:0;
z-index:100;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
font-size:14px;
}

.cta{
background:#00d4ff;
padding:8px 16px;
border-radius:6px;
color:black;
}

/* HERO */
.hero{
height:90vh;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url('https://images.unsplash.com/photo-1551288049-bebda4e38f71');
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:20px;
}

.hero h1{
font-size:60px;
font-weight:700;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
margin-bottom:30px;
font-size:18px;
}

/* BUTTON */
.btn{
background:#00d4ff;
padding:14px 28px;
text-decoration:none;
color:black;
border-radius:8px;
font-weight:600;
}

.btn.dark{
background:#0f172a;
color:white;
}

/* SECTION */
.section{
padding:100px 80px;
text-align:center;
}

.section h2{
font-size:40px;
margin-bottom:50px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

/* CARD */
.card{
background:white;
padding:40px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:.4s;
opacity:0;
transform:translateY(40px);
}

.card:hover{
transform:translateY(-8px);
}

.card.show{
opacity:1;
transform:translateY(0);
}

/* CTA */
.cta-section{
background:#0f172a;
color:white;
padding:100px 40px;
text-align:center;
}

/* FOOTER */
footer{
background:#111;
color:#aaa;
padding:25px;
text-align:center;
font-size:14px;
}
