*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f8f9fb;
color:#222;
}

/* Navbar */
nav{
background:#111;
color:#fff;
display:flex;
justify-content:space-between;
padding:15px 50px;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:#fff;
text-decoration:none;
}

.logo{
font-weight:bold;
font-size:20px;
}

/* Hero */
.hero{
height:80vh;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

/* Buttons */
.btn{
background:#00c3ff;
padding:12px 25px;
color:#000;
text-decoration:none;
font-weight:bold;
border-radius:6px;
}

/* Sections */
.section{
padding:70px 50px;
text-align:center;
}

/* Grid */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:30px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
opacity:0;
transform:translateY(40px);
transition:.6s;
}

.card.show{
opacity:1;
transform:translateY(0);
}

footer{
background:#111;
color:#fff;
text-align:center;
padding:20px;
margin-top:40px;
}
